/componenti_ambientali.csv
/config.py
/gen_diminuito.csv
/GxE_results_summary.csv
/variants_chr_PON1_PNPLA6_CYP2B6_CYP2D6_ACHE_SCN5A_SCN1A_SCN8A_CYP2C19_cyp3a4_GSTP1_GSTM1_SOD2_NOS1_NOS2_NFE2L2_PINK1_PARK7_CYP1A1_CYP1B1_THRA_thrb_ESR1_MT1A_MT2A_GRIN2A_GRIN2B_ATP7A_ATP7B_AS3MT_CYP3A5_ABCB1.csv
